In [10]:
setwd("D:/2018 Fall Baruch/CIS 3920 Data Mining")
getwd()
install.packages("readxl", repos = "http://cran.us.r-project.org")

[1] "D:/2018 Fall Baruch/CIS 3920 Data Mining"

Installing package into 'C:/Users/khanhdi/Documents/R/win-library/3.4'
(as 'lib' is unspecified)

package 'readxl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\khanhdi\AppData\Local\Temp\RtmpCsLuJG\downloaded_packages

In [25]:
library(readxl)
rolling <- read_excel("rollingsales_manhattan.xls", col_names = FALSE)
sales <- rolling[-(1:4),]
colnames(sales) <- sales[1,]
sales <- sales[-1,]
head(sales)

  BOROUGH NEIGHBORHOOD  BUILDING CLASS CATEGORY        TAX CLASS AT PRESENT
1 1       ALPHABET CITY 01 ONE FAMILY DWELLINGS        1
2 1       ALPHABET CITY 01 ONE FAMILY DWELLINGS        1
3 1       ALPHABET CITY 02 TWO FAMILY DWELLINGS        1
4 1       ALPHABET CITY 07 RENTALS - WALKUP APARTMENTS 2
5 1       ALPHABET CITY 07 RENTALS - WALKUP APARTMENTS 2
6 1       ALPHABET CITY 07 RENTALS - WALKUP APARTMENTS 2A
  BLOCK LOT EASE-MENT BUILDING CLASS AT PRESENT ADDRESS
1 390   61  NA        A4                        189 EAST 7TH STREET
2 390   61  NA        A4                        189 EAST 7TH STREET
3 390   35  NA        B1                        113 AVENUE C
4 385   2   NA        C7                        21-23 AVENUE B
5 389   18  NA        C1                        200 EAST 7TH STREET
6 390   54  NA        C3                        203 EAST 7TH STREET
  APARTMENT NUMBER ... RESIDENTIAL UNITS COMMERCIAL UNITS TOTAL UNITS
1 NA               ... 1                 0                1
2 NA               ... 1                 0                1
3 NA               ... 2                 0                2
4 NA               ... 12                4                16
5 NA               ... 18                0                18
6 NA               ... 4                 0                4
  LAND SQUARE FEET GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE
1 987              2183              1860       1
2 987              2183              1860       1
3 1218             4764              1899       1
4 4186             10588             1900       2
5 2271             10650             1910       2
6 1950             5446              2001       2
  BUILDING CLASS AT TIME OF SALE SALE PRICE SALE DATE
1 A4                             4844809    43242
2 A4                             0          43243
3 B1                             0          43215
4 C7                             10350000   43350
5 C1                             5000000    43348
6 C3                             6250000    43229

In [26]:
library(dplyr)
library(tidyr)
library(ggplot2)

Warning message:
"package 'dplyr' was built under R version 3.4.4"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [27]:
str(sales)

Classes 'tbl_df', 'tbl' and 'data.frame':	16750 obs. of  21 variables:
 $ BOROUGH                       : chr  "1" "1" "1" "1" ...
 $ NEIGHBORHOOD                  : chr  "ALPHABET CITY" "ALPHABET CITY" "ALPHABET CITY" "ALPHABET CITY" ...
 $ BUILDING CLASS CATEGORY       : chr  "01 ONE FAMILY DWELLINGS" "01 ONE FAMILY DWELLINGS" "02 TWO FAMILY DWELLINGS" "07 RENTALS - WALKUP APARTMENTS" ...
 $ TAX CLASS AT PRESENT          : chr  "1" "1" "1" "2" ...
 $ BLOCK                         : chr  "390" "390" "390" "385" ...
 $ LOT                           : chr  "61" "61" "35" "2" ...
 $ EASE-MENT                     : chr  NA NA NA NA ...
 $ BUILDING CLASS AT PRESENT     : chr  "A4" "A4" "B1" "C7" ...
 $ ADDRESS                       : chr  "189 EAST 7TH STREET" "189 EAST 7TH STREET" "113 AVENUE C" "21-23 AVENUE B" ...
 $ APARTMENT NUMBER              : chr  NA NA NA NA ...
 $ ZIP CODE                      : chr  "10009" "10009" "10009" "10009" ...
 $ RESIDENTIAL UNITS             : chr  "1" "1" "2" "12" ...
 $ COMMERCIAL UNITS              : chr  "0" "0" "0" "4" ...
 $ TOTAL UNITS                   : chr  "1" "1" "2" "16" ...
 $ LAND SQUARE FEET              : chr  "987" "987" "1218" "4186" ...
 $ GROSS SQUARE FEET             : chr  "2183" "2183" "4764" "10588" ...
 $ YEAR BUILT                    : chr  "1860" "1860" "1899" "1900" ...
 $ TAX CLASS AT TIME OF SALE     : chr  "1" "1" "1" "2" ...
 $ BUILDING CLASS AT TIME OF SALE: chr  "A4" "A4" "B1" "C7" ...
 $ SALE PRICE                    : chr  "4844809" "0" "0" "10350000" ...
 $ SALE DATE                     : chr  "43242" "43243" "43215" "43350" ...

In [31]:
names(sales) <- c('Borough', 'Neighborhood', 'BuildingClassCategory', 'TaxClassAtPresent', 'Block', 'Lot', 'EaseMent', 
                 'BuildingClassAtPresent', 'Address', 'ApartmentNumber', 'ZipCode', 'ResidentialUnits', 
                 'CommercialUnits', 'TotalUnits', 'LandSquareFeet', 'GrossSquareFeet', 
                 'YearBuilt', 'TaxClassAtTimeOfSale', 'BuildingClassAtTimeOfSale', 'SalePrice', 'SaleDate')
names(sales)

 [1] "Borough"                   "Neighborhood"
 [3] "BuildingClassCategory"     "TaxClassAtPresent"
 [5] "Block"                     "Lot"
 [7] "EaseMent"                  "BuildingClassAtPresent"
 [9] "Address"                   "ApartmentNumber"
[11] "ZipCode"                   "ResidentialUnits"
[13] "CommercialUnits"           "TotalUnits"
[15] "LandSquareFeet"            "GrossSquareFeet"
[17] "YearBuilt"                 "TaxClassAtTimeOfSale"
[19] "BuildingClassAtTimeOfSale" "SalePrice"
[21] "SaleDate"

In [42]:
sales$Neighborhood <- as.factor(sales$Neighborhood)
sales$BuildingClassCategory <- as.factor(sales$BuildingClassCategory)

str(sales)

Classes 'tbl_df', 'tbl' and 'data.frame':	16750 obs. of  21 variables:
 $ Borough                  : chr  "1" "1" "1" "1" ...
 $ Neighborhood             : Factor w/ 39 levels "ALPHABET CITY",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ BuildingClassCategory    : Factor w/ 43 levels "01 ONE FAMILY DWELLINGS",..: 1 1 2 6 6 6 6 6 6 6 ...
 $ TaxClassAtPresent        : chr  "1" "1" "1" "2" ...
 $ Block                    : chr  "390" "390" "390" "385" ...
 $ Lot                      : chr  "61" "61" "35" "2" ...
 $ EaseMent                 : chr  NA NA NA NA ...
 $ BuildingClassAtPresent   : chr  "A4" "A4" "B1" "C7" ...
 $ Address                  : chr  "189 EAST 7TH STREET" "189 EAST 7TH STREET" "113 AVENUE C" "21-23 AVENUE B" ...
 $ ApartmentNumber          : chr  NA NA NA NA ...
 $ ZipCode                  : chr  "10009" "10009" "10009" "10009" ...
 $ ResidentialUnits         : chr  "1" "1" "2" "12" ...
 $ CommercialUnits          : chr  "0" "0" "0" "4" ...
 $ TotalUnits               : chr  "1" "1" "2" "16" ...
 $ LandSquareFeet           : chr  "987" "987" "1218" "4186" ...
 $ GrossSquareFeet          : chr  "2183" "2183" "4764" "10588" ...
 $ YearBuilt                : chr  "1860" "1860" "1899" "1900" ...
 $ TaxClassAtTimeOfSale     : chr  "1" "1" "1" "2" ...
 $ BuildingClassAtTimeOfSale: chr  "A4" "A4" "B1" "C7" ...
 $ SalePrice                : chr  "4844809" "0" "0" "10350000" ...
 $ SaleDate                 : chr  "43242" "43243" "43215" "43350" ...

In [36]:
str(as.factor(sales$Neighborhood))

 Factor w/ 39 levels "ALPHABET CITY",..: 1 1 1 1 1 1 1 1 1 1 ...